* {
  margin: 0;
}

body {
  display: flex;
  justify-content: content;
  align-items: center;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: pink;
  background-origin: padding-box;
  height: 100%;
  width: 100%;
}

#app {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 100vw;
  background-image: url(./IMG_0235.jpeg);
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}
